.section-cart {
  position: absolute;
  width: 30%;
  height: 30%;
  top: 80px;
  right: -55px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  .cart-empty {
    &__heading {
      border-bottom: 1px solid $color-grey-light;
      padding: 10px 20px;
    }

    &__body {
      height: 155px;
      position: relative;

      &__text {
        position: absolute;
        top: 49%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .cart-items {
    padding: 0.4rem 0.5rem;
  }
  .cart-item {
    display: flex;
    justify-content: space-between;
    height: 5rem;

    &__left {
      display: flex;
      justify-content: space-between;
    }

    &__left__img {
      width: 60%;
      border-radius: 2px;
      overflow: hidden;
      margin-right: 10px;
    }

    &__left__img img {
      height: 100%;
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &__left__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__name {
      text-transform: capitalize;
    }

    &__right {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__remove {
        cursor: pointer;
      }
    }
  }

  .cart-list {
    display: none;
  }
}

.active {
  display: none;
}
