// COLORS

$color-grey-dark: #777;
$color-grey-light: #e8e7eb;
$color-grey-light-2: #f7f8fd;
$color-primary-dark: #f67a20;
$color-primary-light: #ffac6a;
$color-primary-light-2: #feeee1;
$color-white: #fff;
$text-color-dark: #1f2127;
$text-color-dark-2: #7d7e82;

// SPACING

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 4rem;
